[submodule "phys-gmm"]
	path = preprocessing/phys-gmm
	url = git@github.com:nbfigueroa/phys-gmm.git
[submodule "preprocessing/CITRIFIED_lib"]
	path = preprocessing/CITRIFIED_lib
	url = git@github.com:RLoad/CITRIFIED_lib.git
